# Editors
*.kate-swp
*~
\#*#
.#*
.*.swp
.project
cscope.files
cscope.out
*.orig
.desktop
.directory

# Contains private data
/.env
/docker-compose.override.yml

# Test infrastructure
.venv/
.pytest_cache/
__pycache__/
*.pyc
